# see http://docs.python.org/distutils/sourcedist.html

include CHANGES LICENSE* MANIFEST.in README* TODO
include bkp2U checkCoverage countem doPyLint installit pylintrc styleit test.all
include tox.ini requirements.txt test_requirements.txt
include setup.py setup.cfg
recursive-include src *
recursive-include tests *
recursive-include ghpDoc *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
global-exclude junk* .*swp *.bak
prune   .svn
